@charset "UTF-8";
/* CSS Document */

body {
    margin: 0;
    background-image: url(..//images/county-fair-don-engler.jpg);
}

/****** Make sure they have this rule below!! */
* {
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2';
    line-height: 15px;
    color: #9D6026;
}

#container {
    width: 960px;
    height: 1950px;
    background: linear-gradient(#D4FC78,#99E5A2);
    margin: 0px auto 0px auto; /* This is the code I use to center a block level element but NOT to center content inside of it */
}

header {
    width: 960px;
    height: 85px;
    background-image: url("..//images/Port_Hope_Header.png");
    margin: 0px 0px 0px 0px;
    background-size: 960px 85px;
}

#logoboxsocialmedia {
    width: 960px;
    height: 85px;
    float: left;
    text-align: left;
}

#logobox{
    width: 300px;
    height: 85px;
    background-color: #E2F9FE;
}

#fb_icon {
    margin: 10px 20px 13px 420px;
}

#ig_icon {
    margin: 10px 20px 13px 0px;
}

#youtube_icon {
    margin: 10px 0px 13px 0px;
}

#logobox:hover{
    background-color: white;
}

#fb_icon:hover{
    background-color: white;
}

#ig_icon:hover{
    background-color: white;
}

#youtube_icon:hover{
    background-color: white;
}

nav {
    width: 960px;
    height: 85px;
    line-height: 52px;
    background-color: #FFF38A;
    float: left;
    margin: 0px 2px 0px 0px;
    text-align: center;
}

nav a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 5px;
}

nav img:hover{
    background-color: white;
}

nav a:hover {
    color: white;
}

h1{
    font-size:40px;
    text-align: center;
    margin: 120px 20px 20px 20px;
}

table{
    text-align: center;
}

th {
    visibility: collapse;   
}

.table_pic {
    background-color: white;
}

.table_top {
    font-size: 30px;
    line-height: 25px;
    margin: 10px 0 0 0;
}



td {
    display: block;
    margin: 0 0 0 0;
    background-color: transparent;
    border: 5px solid transparent;
    text-align: center;
}


tr {
    display: inline-block;
    margin: 20px 10px 10px 10px;
    background: linear-gradient(#D4FC78,#99E5A2);
    /*box-shadow: 0 0 1rem transparentize( black, 0.9 ); */
    overflow: hidden;
    width: 300px;
    text-align: center;
    box-shadow: 10px 0 10px -10px #666,
            -10px 0 10px -10px #666;
}

p{
    text-align:center;
}

h3{
    font-size:35px;
    text-align:center;
}


footer {
    width: 960px;
    height: 200px;
    background-image: url(..//images/Port_Hope_Footer.png);
    background-size: 960px 200px;
}

